name: Deploy Nightly

permissions:
  contents: write

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  workflow_dispatch:

jobs:
  build-job:
    name: Run Build ROM Workflow
    uses: ./.github/workflows/build_ci_workflow.yml
    with:
      upload-build-artifact: true

  nightly:
    name: Deploy nightly
    needs: build-job
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    needs: build-job
    steps:
      - name: Say cool
        run: |
          echo "cool"
